# BotFather'dan olingan token
BOT_TOKEN=

# Supabase loyihangiz
SUPABASE_URL=https://ftndouuwpinxjzdkcgmt.supabase.co
SUPABASE_SERVICE_KEY=

# Sizning shaxsiy Telegram ID raqamingiz (bot @userinfobot orqali olinadi)
ADMIN_CHAT_ID=
